  <div class="calendario">
    <div class="header">
      <button (click)="cambiarMes(-1)">&#8592;</button>
      <h2>{{ monthName | titlecase }} {{ year }}</h2>
      <button (click)="cambiarMes(1)">&#8594;</button>
    </div>

    <div class="dias-semana">
      <div>Lun</div>
      <div>Mar</div>
      <div>Mié</div>
      <div>Jue</div>
      <div>Vie</div>
      <div>Sáb</div>
      <div>Dom</div>
    </div>

    <div class="dias-mes">
      <div *ngFor="let dia of monthDays" class="dia" [class.vacio]="dia.day === 0">
        <div *ngIf="dia.day !== 0">
          <strong>{{ dia.day }}</strong>
          <div *ngFor="let evento of getEventosPorDia(dia.fullDate)">
            <div class="evento">
              <small>{{ evento.hora }}   {{ evento.descripcion }}</small>
              <button (click)="marcarAsistencia(evento)">Participar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>