<div class="calendario">
  <div class="header">
    <button (click)="cambiarMes(-1)">&#8592;</button>
    <h2>{{ monthName | titlecase }} {{ year }}</h2>
    <button (click)="cambiarMes(1)">&#8594;</button>
  </div>

  <div class="dias-contenedor">
    <div class="dias-semana">
      <div>Lun</div>
      <div>Mar</div>
      <div>Mié</div>
      <div>Jue</div>
      <div>Vie</div>
      <div>Sáb</div>
      <div>Dom</div>
    </div>

    <div class="dias-mes">
      <div *ngFor="let dia of monthDays" class="dia" [class.vacio]="dia.day === 0" 
           [attr.data-dia-semana]="getDiaSemanaNombre(dia.fullDate)">
        <div *ngIf="dia.day !== 0" class="dia-content">
          <strong class="dia-numero">{{ dia.day }}</strong>
          <div class="eventos-container">
            <div *ngFor="let evento of getEventosPorDia(dia.fullDate)" class="evento">
              <small class="evento-hora">{{ evento.hora }}</small>
              <small class="evento-descripcion">{{ evento.descripcion }}</small>
              <button *ngIf="!haParticipado(evento)" (click)="marcarAsistencia(evento)" class="btn-participar">
                Participar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>