<!-- Sección 4: Galería -->
    <section class="gallery">
        <div class="gallery-container">
            <!-- Fila 1 -->
            <div class="gallery-item">
                <img src="/images/p.PNG" alt="">
                <div class="gallery-text">Coro de la iglesia</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 2</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 3</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 4</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            
            <!-- Fila 2 -->
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 5</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 6</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 7</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
            <div class="gallery-item">
                <div class="gallery-text">Texto descriptivo 8</div>
                <button class="gallery-btn">Ingresar</button>
            </div>
        </div>
    </section>
