h2 {
  text-align: center;
  margin-bottom: 1rem;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto 1rem; /* centrado horizontal */
}
th, 
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

th {
  position: relative;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
}

form {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto 1rem; /* centrado horizontal */
}

form input {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  text-align: center;
}