<nav class="navbar">
  <div class="logo" routerLink="/home">
 <img src="/images/logosinfondo.png" alt="Logo del Santuario" class="logo-img" />
    Santuario María Auxiliadora
  </div>
  <div class="nav-links">
    <button class="nav-btn" routerLink="/servicios">  
      <span class="material-icons">handshake</span>
      Servicios
    </button>
    <button class="nav-btn" routerLink="/grupos">
      <span class="material-icons">groups</span>
      Grupos
    </button>
    <button class="nav-btn" routerLink="/calendario">
      <span class="material-icons">calendar_today</span>
      Calendario
    </button>
    <button class="nav-btn" routerLink="/horarios">
      <span class="material-icons">schedule</span>
      Horarios
    </button>
    <button class="nav-btn" routerLink="/donar">
      <span class="material-icons">volunteer_activism</span>
      Donar
    </button>
    <button
      class="nav-btn nav-btn--volunteer"
      routerLink="/asistente"
      aria-label="Asistente parroquial"
    >
      <span class="material-icons">volunteer_activism</span>
    </button>
  </div>
  <div class="auth-section">
    <ng-container *ngIf="authService.user(); else loginBtn">
      <select class="user-select" (change)="onUserOption($event)">
        <option value="" disabled selected>
          {{ authService.user()?.nombres }} {{ authService.user()?.apellidos }}
        </option>
        <option value="mis-eventos">Mis grupos</option>
        <option value="mis-eventos">Mis eventos</option>
        <option value="logout">Cerrar sesión</option>
      </select>
    </ng-container>
    <ng-template #loginBtn>
      <button class="login-btn" (click)="openLogin()">Login</button>
    </ng-template>
  </div>
</nav>
<app-login *ngIf="showLogin()" (closed)="onLoginClosed()"></app-login>
<main class="content">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-content">
      <div class="map-container">
      <h2>🙏 Cómo llegar al Santuario</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1993.4134750078279!2d-79.88892225767212!3d-2.218826269360785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e4f7c0930ef%3A0x751fc14041034d2b!2sSantuario%20Mar%C3%ADa%20Auxiliadora%20%7C%20Guayaquil!5e0!3m2!1ses-419!2sec!4v1756765347068!5m2!1ses-419!2sec" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
<div class="footer-info">
  <p><i class="fa-solid fa-location-dot"></i>Paseo Salesiano #100 y Rosa Borja de Ycaza</p>
  <p><i class="fa-solid fa-phone"></i> Teléfono: 0998898759<a href="https://wa.me/593998898759" target="_blank" class="llamar-btn">Whatsapp</a></p>
  <p><i class="fa-solid fa-envelope"></i> Correo: santuario_mariuxi&#64;hotmail.com</p>
  <p><i class="fa-solid fa-clock"></i> Horarios: Lunes a Viernes 8:00 - 12:00 & 15:00 - 18:00</p>

  <div class="social-links">
    <a href="https://www.facebook.com/SantuarioMariaAuxiliadoraGuayaquil/?locale=es_LA" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/auxiliadoragye/?hl=es" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
<a href="https://wa.me/593998898759" target="_blank" aria-label="WhatsApp">
  <i class="fa-brands fa-whatsapp"></i>
</a>
  </div>
</div>

<hr class="footer-divider">

<div class="footer-bottom">
  <p>© 2025 Santuario María Auxiliadora – Todos los derechos reservados.</p>
    <p>
    Hecho con amor por 
    <a href="https://github.com/Sirsantiag0" target="_blank" aria-label="Perfil de GitHub">
      👨‍💻
    </a>
    Sirsantiag0
  </p>
</div>
  </div>
</footer>