.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.login-window {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  position: relative;

  /* sombra base oscura */
  box-shadow: 
    0 3px 8px rgba(255, 252, 252, 0.3),
    /* resplandor blanco degradado */
    0 0 15px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.5);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.usuario {
  margin-left: 26px;
}

button[type="submit"] {
  padding: 8px;
  background-color: var(--accent-color, #ff6b6b);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registarme {
  background: #4aa55e;
  border: solid #4aa55e;
  border-radius: 4px;
  color:#fff;
  cursor: pointer;
  margin-top: 10px;
  height: 25px;
}

.registarme:active {
    background: #79e991;
    border: solid #79e991;
}

button:active{
  background-color: #79e991;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255,255,255,0.6);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.login-title {
  text-align: center;
  margin: 0 0 10px;
  font-size: 15px;
}

.forgot-password {
  font-size: 12px;
  text-align: right;
  padding-right: 150px;
}

.login-window {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  position: relative;

  /* sombra normal */
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);

  /* brillo blanco suave alrededor */
  box-shadow: 
    0 0 15px rgba(255, 255, 255, 0.6),  /* resplandor blanco */
    0 2px 8px rgba(0,0,0,0.3);          /* sombra base */
}
