<div class="overlay" (click)="close()">
  <div class="login-window" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">✖</button>
        <h2 class="login-title">Inicia Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <input #correoInput class="usuario" type="email" formControlName="correo" required placeholder="correo"/>

        <input type="password" formControlName="password" required placeholder="cotraseña"/>

      <small class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </small>
      <button type="submit" [disabled]="loading">
        Ingresar
        <span *ngIf="loading" class="spinner"></span>
      </button>
      <button class="registarme" routerLink="/registrar" (click)="close()">
        Registarme
      </button>
    </form>
  </div>
</div>