.event-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
 /* centra verticalmente en la pantalla */
}

.event-cards mat-card {
  width: 300px;
}


.group-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto 1rem;
  justify-content: center;
  text-align: center;
}

.group-card {
  width: 150px;
  height: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.group-title {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
}


h2 {
  text-align: center;
  padding: 1rem 1rem;
  margin: 0;
  margin-top:-20px;
  margin-bottom: 15px
}
