<h2>Mis eventos</h2>
<div class="event-cards">
  <mat-card *ngFor="let evento of eventos()">
    <mat-card-title>{{ evento.descripcion }}</mat-card-title>
    <mat-card-content>
      <p>{{ evento.fecha }} - {{ evento.hora }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="eliminarAsistencia(evento.asistenciaId)">Cancelar-asistencia</button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<h2>Mis grupos</h2>
<div *ngIf="authService.user()">
  <div class="group-cards">
    <mat-card *ngFor="let grupo of grupos()">
      <img *ngIf="grupo.ruta_archivo" mat-card-image [src]="'http://localhost:3000/uploads/grupos/' + grupo.ruta_archivo" [alt]="grupo.titulo" />
      <mat-card-title>{{ grupo.titulo }}</mat-card-title>
      <mat-card-actions>
        <button mat-button color="warn" (click)="eliminarSuscripcion(grupo.suscripcionId)">Abandonar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>