.asistente-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 40px auto;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.lista-imagenes {
  max-width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* permite que se acomoden si no hay espacio */
  justify-content: center;
}

.imagen-item {
  display: flex;
  flex-direction: column; /* que el texto quede arriba y la imagen debajo */
  align-items: center;
  width: 200px; /* cada bloque con ancho fijo */
  border: solid rgb(172, 170, 170) 1px;
  border-radius: 10px;
}

.imagen-item img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.imagen-item img {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.video-inputs {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-inputs input {
  padding: 8px;
}

.event-title-inputs {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-schedule {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.event-preview {
  max-width: 1000px;       /* que pueda expandirse más */
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 15px;               /* espacio entre columnas y filas */
}

.event-item {
  display: flex;
  flex-direction: column;  /* texto arriba, botones abajo */
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background: #f9f9f9;     /* para que se diferencie cada tarjeta */
}

.acciones button {
  margin-right: 5px
}

.group-section {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}  