<div class="asistente-form">
  <h2>Subir 🖼️Carrusel + 🖼️Evento</h2>
  <input type="text" [(ngModel)]="detalle" placeholder="Detalle" />
  <input type="file" (change)="onFileChange($event)" />
  <button (click)="subirImagen()">Subir</button>
</div>

<div class="lista-imagenes" *ngIf="imagenes.length">
  <h3>Imágenes subidas: </h3>
  <div class="imagen-item" *ngFor="let img of imagenes">
    <p>{{ img.detalle }}</p>
    <img [src]="'http://localhost:3000/uploads/' + img.ruta_archivos" [alt]="img.detalle" />
        <div class="acciones">
      <button (click)="eliminarImagen(img.id)">Eliminar</button>
      <input type="file" (change)="reemplazarImagen(img, $event)" hidden #fileInput />
      <button (click)="fileInput.click()">Reemplazar</button>
    </div>
      </div>
</div>

<div class="video-inputs">
  <h3>Subir 📹videos</h3>
  <div class="video-input" *ngFor="let url of videoUrls; index as i">
    <input type="text" [(ngModel)]="videoUrls[i]" placeholder="URL de YouTube" />
  </div>
  <button (click)="guardarVideos()">Guardar videos</button>
</div>


<div class="event-title-inputs">
  <h3>Subir título próximo evento</h3>
  <div class="event-title-input" *ngFor="let title of eventTitles; index as i">
    <input type="text" [(ngModel)]="eventTitles[i]" placeholder="Título del evento {{ i + 1 }}" />
  </div>
  <button (click)="guardarTitulos()">Guardar títulos</button>
</div>