<body>
<div class="form-container">
  <h2>Registro</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <input type="text" formControlName="cedula" placeholder="Cédula">
      <input type="text" formControlName="nombres" placeholder="Nombre">
    </div>
    <div class="form-row">
      <input type="text" formControlName="apellidos" placeholder="Apellido" >
      <label class="date-group">
        <span>Año de nacimiento</span>
        <input type="date" formControlName="fecha_nacimiento">
      </label>
    </div>

    <div class="form-row">
      <select formControlName="genero">
        <option value="" disabled selected>Selecciona tu género</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
        <option value="prefiero_no_decir">Prefiero no decir</option>
      </select>
      <input type="text" formControlName="direccion" placeholder="Dirección">
    </div>
    <div class="form-row">
      <input type="tel" formControlName="telefono" placeholder="Teléfono">
      <input type="email" formControlName="email" placeholder="Email">
    </div>

    <div class="form-row">
      <input type="password" formControlName="password" placeholder="contraseña">
      <input type="password" formControlName="confirmPassword" placeholder="confirmar contraseña">
    </div>

    <button type="submit" class="btn-submit">Registrar</button>
  </form>
</div>
</body>